.contact {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15%;
  h2 {
    border-bottom: 1px solid rgb(251, 255, 0);
  }
  .contact-container {
    align-self: flex-start;
    .contact-item {
      display: flex;
      align-items: center;
      a {
        i {
          font-size: 30px;
          margin: 7px;
        }
        i.email {
          font-size: 27px;
        }
        p {
          display: inline-block;
          font-size: 18px;
        }
      }
    }
  }
}
