.foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  p {
    font-size: 20px;
    span {
      margin: 0;
      padding: 0;
      i {
        color: hotpink;
        font-size: 15px;
        margin: 0;
        padding: 0;
      }
    }
  }
}
