@media only screen and (min-device-width: 1201px) {
  // For laptop
  $animate-width-desktop: 777px;
  $animate-height-desktop: 123px;
  $ball-size-desktop: 30px;

  #container {
    #core {
      width: 90%;
      align-self: flex-end;
    }
  }
  body {
    // Setting for h,p and lift buttons
    background-image: url(../img/background.jpg);
    background-position: unset;
    overflow-x: hidden;

    h2 {
      padding-top: 7%;
      margin-bottom: 80px;
      font-size: 70px;
    }

    h3 {
      font-size: 30px;
    }

    a {
      color: white;
      text-decoration: none;
    }
    // Lift Buttons
    .lifts {
      display: flex;
      position: fixed;
      bottom: 5%;
      right: 10%;
      align-items: center;
      .lift {
        margin: 2px;
        a {
          padding: 8px;
          border-radius: 40%;
          font-size: 30px;
          i {
            color: #fff;
          }
        }
        a.hash {
          font-size: 25px;
        }
        a:active {
          background-color: rgba(255, 255, 255, 0.25);
        }
      }
    }
  }
  .animate-box {
    .animate {
      width: $animate-width-desktop;
      height: $animate-height-desktop;
      box-shadow: inset 0 0 3px rgb(255, 255, 255);
      b {
        width: $ball-size-desktop;
        height: $ball-size-desktop;
        box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.5);
        bottom: -$ball-size-desktop;
        right: -$ball-size-desktop;
        animation: vertMove-desktop 2.5s linear 2s infinite alternate,
          horzMove-desktop 0.4s linear 2s infinite alternate;
      }
      b.second {
        animation: vertMove-desktop 1.3s linear 2s infinite alternate,
          horzMove-desktop 0.4s linear 2s infinite alternate;
      }
      b.thirth {
        animation: vertMove-desktop 3s linear 2s infinite alternate,
          horzMove-desktop 1.3s linear 2s infinite alternate;
      }
    }
  }
  .head {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    nav {
      padding-top: 5%;
      ul {
        padding: 0;
        li {
          a {
            font-size: 40px;
            margin: auto 20px;
            padding: 10px 14px 10px 14px;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.3);
          }
          :hover {
            background-color: rgba(255, 255, 255, 0.75);
          }
        }
      }
    }
    .sub-head {
      margin-top: 0;
      padding-top: 2%;
      padding-bottom: 0;
      flex-grow: 2;
      align-self: center;
      h1 {
        font-size: 180px;
        margin-top: 6%;
      }

      hr {
        width: 100%;
        border-top: 3px solid rgb(255, 255, 255);
        margin: 10px 0;
      }

      hr#top {
        margin-top: 2%;
      }
    }
  }
  .about {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    h2 {
      border-bottom: 3px groove red;
    }
    p {
      margin-right: 15%;
      margin-left: 15%;
      font-size: 25px;
      backdrop-filter: blur(1px);
      padding: 2%;
      padding-bottom: 4%;
    }
  }
  .experience {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    padding-top: 2%;
    align-items: center;
    hr {
      width: 100%;
      border-top: 1px solid white;
      margin-top: 0px;
      display: none;
    }
    h3 {
      font-size: 40px;
      margin: 10px auto;
      text-align: center;
      width: max-content;
      border-bottom: 2px groove rgb(0, 252, 252);
    }
    h4 {
      font-size: 25px;
    }
    p {
      font-size: 20px;
      margin: 5px;
    }

    .education {
      margin-bottom: 50px;
      width: unset;
      height: unset;
      .ed-item {
        display: flex;
      }
      .ed-item:last-child {
        .tail {
          display: none;
        }
      }
    }
    .work-experience {
      width: unset;
      height: unset;
      .we-item {
        display: flex;
      }
      .we-item:last-child {
        .tail {
          display: none;
        }
      }
    }

    .ex-items {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      margin-right: 10%;
      align-items: center;
      .ex-item {
        flex-shrink: 0;
        box-shadow: 3px 2px rgba(255, 255, 255, 0.2),
          inset 1px 1px rgba(255, 255, 255, 0.2);
        border: 1px solid red;
        margin: 0;
        padding: 10px 0;
        width: max-content;
      }
    }

    .tail {
      position: relative;
      background-color: red;
      flex: 1;
      width: 100px;
      height: 5px;
      align-self: center;
    }
  }

  .created {
    height: 120vh;
    h2 {
      margin-top: 5%;
      border-bottom: 3px solid blue;
    }
    // FLickity
    .gallery {
      margin: 2%;
      .gallery-cell {
        // photo real size 640x425
        width: 540px;
        height: 380px;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

    .git {
      width: max-content;
      height: max-content;
      padding: 5px;
      margin: 70px auto auto auto;
      background-color: rgba(255, 255, 255, 0.6);
      display: flex;
      justify-content: center;
      align-items: center;
      p,
      a {
        font-size: 15px;
        color: black;
      }
      a {
        font-style: italic;
      }
      img {
        width: 70px;
        height: auto;
        object-fit: contain;
      }
    }
  }

  .contact {
    padding-top: 2%;
    h2 {
      border-bottom: 3px solid rgb(251, 255, 0);
    }
    .contact-container {
      background-color: rgba(255, 255, 255, 0.05);
      box-shadow: 2px 5px 5px 1px rgba(251, 255, 0, 0.3);
      backdrop-filter: blur(0.15px);
      -webkit-backdrop-filter: blur(0.15px);
      border: 1px solid rgba(255, 255, 255, 0.18);
      align-self: center;
      .contact-item {
        display: flex;
        justify-content: center;
        margin: 20px;
        a {
          i {
            text-align: center;
            font-size: 40px;
            margin: 5px;
            display: block;
          }
          i.email {
            font-size: 37px;
          }
          p {
            font-size: 20px;
          }
        }
      }
    }
  }

  .foot {
    height: 120vh;
    p {
      font-size: 50px;
      span {
        margin: 0;
        padding: 0;
        i {
          color: hotpink;
          font-size: 45px;
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  // Laptop Animation
  @keyframes vertMove-desktop {
    from {
      right: 0;
    }
    to {
      right: calc(#{$animate-width-desktop} - #{$ball-size-desktop});
    }
  }
  @keyframes horzMove-desktop {
    from {
      bottom: 0;
    }
    to {
      bottom: calc(#{$animate-height-desktop} - #{$ball-size-desktop});
    }
  }
}
